@import url('https://fonts.googleapis.com/css?family=Raleway:500');
html,
body {
    width: 100%;
    height: 99.8%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    background: #C6FCFF;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    top: 0;
    color: white;
    white-space: pre-wrap;
    padding: 1em 3em;
    overflow-y: auto;
}

.overlay__close {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 1em;
    right: 1em;
    font-size: 3em;
    color: white;
    line-height: 0em;
    cursor: pointer;
}

.topbar {
    width: 100%;
    height: 3em;
    margin-bottom: 1em;
    background: #FF9100;
    position: relative;
}

.topbar__input {
    height: calc(100% - 10px);
    width: 10%;
    margin: 5px auto;
    display: inline-block;
    border-radius: 20px;
    border: none;
    position: absolute;
    left: 3.3%;
    background: #0995FF;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    padding: 1px 1em;
    box-sizing: border-box;
}

.topbar__button {
    height: calc(100% - 10px);
    width: 33%;
    margin: 5px auto;
    display: inline-block;
    border-radius: 20px;
    border: none;
    position: absolute;
    left: 33%;
    background: #0995FF;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

.topbar__button:hover {
    background: #3500FF;
}

.editor {
    list-style: none;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.editor__row:first-of-type {
    border-top: 1px solid #CED3E8;
}

.editor__row {
    display: block;
    width: 100%;
    margin: 3px;
    box-sizing: border-box;
    position: relative;
    height: 2em;
    line-height: 2em;
    border-bottom: 1px solid #CED3E8;
}

.editor__key {
    display: inline-block;
    width: 33%;
    height: 100%;
    vertical-align: top;
}

.editor__value {
    display: inline-block;
    width: 65%;
    height: 100%;
    position: relative;
}

.editor__value input {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 5px);
    border: none;
    padding: 0;
    margin-top: 3px;
    position: absolute;
}
